/* Basic - Primary */
@blue: #39c2d7;
@green_lime: #a3c644;
@gray_dark: #464547;
@white: #ffffff;

/* Basic - Secondary */
@raspberry: #b22746;
@plum: #8e244d;
@blue_dark: #1a9cb0;
@green_dark: #7f993a;
@gray_medium: #666666;
@gray: #999999;
@gray_light: #cccccc;

/* Additionally */
@yellow: #ffdc19;
@orange: #ff9b19;
@red: #cb2323;
@fuchsia: #e4445f;
@black: #333333;
@violet: #8b5a9f;
@gray_bg: #f5f5f5;
@gray_bg_dark: #ebeef0;