<form role="form" ng-submit="action.submitDetails()">
    <legend>{{action.training.header}}</legend>
    <div class="form-group">
        <label for="fname">First name:</label>
        <input type="text" class="form-control" ng-model="action.training.Title" id="fname">
    </div>
    <div class="form-group">
        <label for="lname">Last name:</label>
        <input type="text" class="form-control" ng-model="action.training.Description" id="lname">
    </div>
    <div class="form-group">
        <label for="std">Trainer:</label>
        <input type="text" class="form-control" ng-model="action.training.Trainer" id="std">
    </div>
    <input class="btn btn-info" type="submit" value="Submit" style="float:center;">
</form>
