<form role="form" class="form-horizontal" ng-submit="action.submitDetails()">
    <!--<div class="row form-group">
        <h3 class="black panel-heading col-sm-12 h3">{{action.training.header}}</h3>
    </div>-->
    <div class="row form-group">
        <label for="fname" class="control-label col-sm-5 ">Title:</label>
        <input type="text" class="uui-form-element col-sm-3" ng-model="action.training.Title" id="fname">
    </div>
    <div class="row form-group">
        <label for="lname" class="control-label col-sm-5 ">Description:</label>
        <input type="text" class="uui-form-element col-sm-3" ng-model="action.training.Description" id="lname">
    </div>
    <div class="row form-group">
        <label for="std" class="control-label col-sm-5 ">Trainer:</label>
        <input type="text" class="uui-form-element col-sm-3" ng-model="action.training.Trainer" id="std">
    </div>
</form>
