@font-face {
  font-family: 'Oswald Regular';
  src: url(../fonts/font-oswald/oswald-regular.eot);
  src: url(../fonts/font-oswald/oswald-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-regular.woff) format('woff'), url(../fonts/font-oswald/oswald-regular.ttf) format('truetype'), url(../fonts/font-oswald/oswald-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Bold';
  src: url(../fonts/font-oswald/oswald-bold.eot);
  src: url(../fonts/font-oswald/oswald-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-bold.woff) format('woff'), url(../fonts/font-oswald/oswald-bold.ttf) format('truetype'), url(../fonts/font-oswald/oswald-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald Light';
  src: url(../fonts/font-oswald/oswald-light.eot);
  src: url(../fonts/font-oswald/oswald-light.eot?#iefix) format('embedded-opentype'), url(../fonts/font-oswald/oswald-light.woff) format('woff'), url(../fonts/font-oswald/oswald-light.ttf) format('truetype'), url(../fonts/font-oswald/oswald-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-regular.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-light.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-light.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-light.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-bold.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-bold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-semibold.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-semibold.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url(../fonts/font-sourcesanspro/sourcesanspro-it.eot);
  src: url(../fonts/font-sourcesanspro/sourcesanspro-it.eot?#iefix) format('embedded-opentype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.woff) format('woff'), url(../fonts/font-sourcesanspro/sourcesanspro-it.ttf) format('truetype'), url(../fonts/font-sourcesanspro/sourcesanspro-it.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Basic - Primary */
/* Basic - Secondary */
/* Additionally */
.uui-modal {
  padding-right: 0 !important;
}
.uui-modal .modal-dialog {
  min-width: 300px;
}
.uui-modal .modal-content {
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(51, 51, 51, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(51, 51, 51, 0.2);
}
.uui-modal .modal-header {
  background-color: #ffffff;
  color: #666666;
  overflow: hidden;
  padding: 17px 24px;
  border-bottom: solid 1px #eee;
}
.uui-modal .modal-header .close {
  width: 20px;
  height: 20px;
  position: relative;
  right: 0;
  top: 0;
  margin-top: 2px;
  opacity: 0.4;
  text-shadow: none;
}
.uui-modal .modal-header .close:hover {
  opacity: 0.9;
}
.uui-modal .modal-header .close span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #666666;
  top: 10px;
  left: 0px;
}
.uui-modal .modal-header .close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.uui-modal .modal-header .close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.uui-modal .modal-header .modal-title {
  font-family: 'Oswald Regular', Arial, sans-serif;
  font-size: 18px;
  float: left;
  width: 90%;
  letter-spacing: .25px;
}
.uui-modal .modal-body {
  min-height: 100px;
  padding: 17px 24px 9px 24px;
  color: #666666;
}
.uui-modal .modal-footer {
  padding: 8px 24px 17px 24px;
  border-top: none;
}
.uui-modal .modal-footer .uui-button {
  margin-left: 18px;
}
.modal-backdrop {
  background-color: #333333;
}
/*  Blue  */
.uui-modal.blue .modal-header {
  background: #39c2d7;
  color: #ffffff;
  border-bottom: solid 1px #39c2d7;
}
.uui-modal.blue .modal-header .close {
  opacity: 1;
}
.uui-modal.blue .modal-header .close:hover {
  opacity: 0.7;
}
.uui-modal.blue .modal-header .close span {
  background: #ffffff;
}
/*  Lime Green  */
.uui-modal.lime-green .modal-header {
  background: #a3c644;
  color: #ffffff;
  border-bottom: solid 1px #a3c644;
}
.uui-modal.lime-green .modal-header .close {
  opacity: 1;
}
.uui-modal.lime-green .modal-header .close:hover {
  opacity: 0.7;
}
.uui-modal.lime-green .modal-header .close span {
  background: #ffffff;
}
/*  Raspberry  */
.uui-modal.raspberry .modal-header {
  background: #b22746;
  color: #ffffff;
  border-bottom: solid 1px #b22746;
}
.uui-modal.raspberry .modal-header .close {
  opacity: 1;
}
.uui-modal.raspberry .modal-header .close:hover {
  opacity: 0.7;
}
.uui-modal.raspberry .modal-header .close span {
  background: #ffffff;
}
/*  Gray  */
.uui-modal.light-gray .modal-header {
  background: #f5f5f5;
  border-bottom: solid 1px #f5f5f5;
}
